{% extends 'base.html.twig' %}
{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app-login-register') }}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <section class="first">
        <section class="d-flex justify-content-center align-items-center container">
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" class="bg-black-light px-2 py-5">
                        <img src="https://www.carlogos.org/logo/BMW-logo-2000-2048x2048.png" alt="BMW"
                             class="nav-logo nav-logo-large" style="position: absolute; top:-15%; left: 43%;">
                        <div class="row">
                            <div class="col-md-12">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input name="email" value="{{ last_username }}" class="form-control text-light" type="text" placeholder="please enter your username..." required autofocus/>
                                        <span class="text-light">Username</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input name="password" class="form-control text-light" type="password" placeholder="please enter your password..." required/>
                                        <span class="text-light">Password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3 ml-2">
                                    <label class="text-light">
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <button type="submit" class="btn btn-primary btn-block font-weight-bold">LOGIN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app-login-register') }}
        {% endblock %}